<footer class="wp-footer" id="site-footer">
  <p>
    Email us at:
    <a href="mailto:contactmedanded@gmail.com">contactmedanded@gmail.com</a>
    &nbsp;&nbsp; Instagram:
    <a href="https://www.instagram.com/medanded_org/" target="_blank" rel="noopener">@medanded_org</a>
  </p>
</footer>

<!-- Google Dialogflow Messenger chatbot -->
<link rel="stylesheet"
      href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">

<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>

<df-messenger
  location="us-central1"
  project-id="med-n-ed"
  agent-id="af6cc2c3-2fbd-419c-8ed3-eb3c38847867"
  language-code="en"
  max-query-length="-1">
</df-messenger>

